.stats {
	@include container-fluid;
}

.stats__header {
	min-height: 130px; /* Временно для сетки */

	padding: {
		top: 27px;
		right: 38px;
		bottom: 26px;
		left: 38px;
	}

	color: #000000;
	background-color: #ffffff;
}

.stats__slogan {
	display: block;
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
}

.stats__intro {
	margin: 0;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
}

.stats__legend {
	display: block;

	font-size: 20px;
	line-height: 20px;

	&--bottom {
		padding-top: 20px;
		padding-bottom: 14px;
		text-align: center;
		color: rgba(255, 255, 255, 0.3);
		background-color: $bg-darkgrey;
	}

	&--top {
		display: none;
	}
}

.stats__legend sup {
	top: -0.25em;
	font-size: 90%;
}

.stats__table {
	width: 100%;
	height: 320px; /* Временно для сетки (таблица на min-heigt не реагирует, поэтому height) */
	border-collapse: collapse;
}

.stats__table tr {
	color: #ffffff;
	background-color: #404040;

	&:nth-child(2){
		background-color: #4e4e4e;
	}

	&:nth-child(3) {
		background-color: #353535;
	}

	&:nth-child(4) {
		background-color: #404040;
	}
}

.stats__value,
.stats__field {
	width: 50%;
	padding: 20px;
	padding-bottom: 19px;

	vertical-align: top;
}

.stats__value {
	padding-right: 0;
	font-size: 40px;
	line-height: 40px;
}

.stats__value sup {
	top: -0.35em;
	margin-left: 5px;
}

.stats__field {
	padding-left: 0;
	font-size: 18px;
	line-height: 18px;
	text-align: right;
}

/*----- ONLY FOR MOBILE VERSION -----*/
@media (max-width: 767px) {

}


/*----- TABLET VERSION -----*/
@media (min-width: 768px) {
	.stats {
		position: relative;
		z-index: 1;

		margin-top: -184px;
	}

	.stats__header {
/* 		@include clearfix; */

		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		padding-top: 31px 40px;
		padding-bottom: 24px;

		&::before {
			content: '';
			position: absolute;
			top: 27px;
			left: -15px;
			border: 15px solid transparent;
			border-bottom-color: #ffffff;
			transform: rotate(45deg);
		}
	}

	.stats__slogan {
		width: 50%;
		/* float: left; */
		/* width: 280px; */
		/* padding-left: 40px; */
		margin-bottom: 20px;

		font-size: 40px;
		line-height: 40px;
		text-align: left;
		text-transform: none;
	}

	.stats__intro {
		/* float: right; */
		/* width: 210px; */
		/* padding-right: 80px; */

		width: 37.5%;
		padding: 0;
		padding-left: 30px;
		padding-top: 4px;
		text-align: left;
	}

	.stats__legend--top {
		/* float: left; */
		/* clear: left; */
		/* width: 280px; */
		/* padding-left: 40px; */

		display: block;
		width: 50%;
		color: rgba(0, 0, 0, 0.3);
	}

	.stats__legend--bottom {
		display: none;
	}

	.stats__table {
		/* @include clearfix; */

		display: block;
	}

	.stats__table tbody {
		display: flex;
		flex-wrap: wrap;
	}

	.stats__table tr {
		display: block;
		/* float: left; */
		/* width: 250px; */

		box-sizing: border-box;
		width: 50%;
		padding: 25px 35px;
		padding-bottom: 28px;
	}

	.stats__value,
	.stats__field {
		display: block;
		width: auto;
		padding: 0;
	}

	.stats__value {
		margin-bottom: 7px;
		font-size: 72px;
		line-height: 72px;
	}

	.stats__field {
		font-size: 20px;
		line-height: 27px;
		text-align: left;
	}

	.stats__field br {
		display: none;
	}
}


/*----- DESKTOP VERSION -----*/
@media (min-width:1200px) {
	.stats {
		/* @include clearfix; */
		display: flex;
		margin-top: -159px;
	}

	.stats__header {
		/* float: left; */
		flex-grow: 1;
		flex-direction: column;
		width: 240px;
		min-height: 263px; /* Временно для сетки*/
		padding-left: 40px;
		padding-right: 40px;

		&::before { top: 22px; }
	}

	.stats__slogan {
		/* float: none; */
		width: auto;
		margin-bottom: 42px;
		/* padding-left: 0; */
	}
	
	.stats__intro {
		/* float: none; */
		width: auto;
		margin-bottom: 32px;
		padding: 0;
	}

	.stats__legend--top {
		/* float:none; */
		width: auto;
		/* padding-left: 0; */
		margin-top: auto;
	}

	.stats__table {
		/* float: right; */
		/* display: block; */
		display: flex;
		flex-grow: 1;
		width: 640px;
	}
}